
# Created by https://www.toptal.com/developers/gitignore/api/dotenv,ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv,ansible

### Ansible ###
*.retry

### dotenv ###
.env

# End of https://www.toptal.com/developers/gitignore/api/dotenv,ansible